.container-car {
    position: relative;
    z-index: auto;
    top: 0;
    right: 0;
    border-left: 2px solid white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    min-width: 150px;
    width: 150px;
}